/* Setup variables and reset browser bullshit */
@import "config"; 
@import "mixins";
@import "reset";

/* Project-Specific */
@import "media"; // For weird shit like videos and images 
@import "foundation"; // Add Foundation Grid
@import "links"; // For weird shit like videos and images
@import "type"; // Typography 
@import "icons"; // SVG Icons 



/* Main Styles */

/* Search Sidebar */
.search-sidebar {
	background: #F4F4F4;
	height: auto;
	position: relative;
}

/* Search Results */
.search-results {
	position: relative;
	background: #fff;

	.result {
		background: #fff;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
		padding: 25px;
	}

}